:root {
    --cream-color: #d2c9c2;
    --black-color: #1c1c1c;
    --white-color: #ffffff;
    --gradient: linear-gradient(90deg, #E83C53 0%, #802B86 100%);
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

b {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-weight: 300;
    font-size: 46px;
    line-height: 1.25;
    text-align: center;
    padding-top: 200px;
}

    .h1--black-style {
        background: none;
        -webkit-text-fill-color: var(--black-color);
    }

    @media(max-width: 1060px) {
        h1 {
            font-size: 40px;
            padding-top: 160px;
        }
    }

    @media(max-width: 1023px) {
        h1 {
            font-size: 36px;
            padding-top: 110px;
            margin-bottom: 50px;
        }
    }

    @media(max-width: 767px) {
        h1 {
            font-size: 28px;
            padding-top: 110px;
            margin-bottom: 50px;
        }
    }

    @media(max-width: 424px) {
        h1 {
            font-size: 24px;
            padding-top: 110px;
            margin-bottom: 50px;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 40px;
        line-height: 1.25;
        text-align: center;
        text-transform: uppercase;
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
        h2.h2--black-style {
            background: none;
            -webkit-text-fill-color: var(--black-color);
            font-weight: 400;
            line-height: 1.3;
        }
    
        @media(max-width: 1060px) {
            h2 {
                font-size: 36px;
            }
        }
    
        @media(max-width: 1060px) {
            h2 {
                font-size: 32px;
            }
        }
    
        @media(max-width: 767px) {
            h2 {
                font-size: 26px;
            }
        }
    
        @media(max-width: 434px) {
            h2 {
                font-size: 20px;
            }
        }
    
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
    }
    
    @media(max-width: 1024px) {
        p {
            font-size: 18px;
        }
    }

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--black-color);
    background: var(--white-color);
    overflow-x: hidden;
}


section {
    padding: 100px 0;
}

@media(max-width: 1200px) {
    section {
        padding: 80px 0;
    }
}

@media(max-width: 992px) {
    section {
        padding: 60px 0;
    }
}

@media(max-width: 434px) {
    section {
        padding: 30px 0;
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
    .wrapper.active {
        display: block;
    }

.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
    @media(max-width: 1240px) {
        .container {
            max-width: 1024px;
            padding-left: 12px;
            padding-right: 12px
        }
    }

    @media(max-width: 1023px) {
        .container {
            max-width: 748px;
            padding-left: 10px;
            padding-right: 10px
        }
    }
    @media(max-width: 767px) {
        .container {
            max-width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media(max-width: 434px) {
        .container {
            max-width: 100%;
            padding-left: 20px;
            padding-right: 20px
        }
    }

.btn {
    display: inline-block;
    background: linear-gradient(0deg, #E83C53 0%, #802B86 100%);
    padding: 20px 60px;
    border-radius: 50px;
    color: var(--white-color);
    font-weight: 400;
    max-width: 300px;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
}
@media(max-width: 767px) {
    .btn {
        padding: 10px 60px;
    }
}
    .btn:hover,
    .btn:active {
        box-shadow: 0 -5px 15px #802B86, 0px 5px 15px #E83C53;
    }

    .full-stars {
        text-align: center;
    }
    @media(max-width: 767px) {
        .full-stars {
            text-align: left;
        }
    }
    .full-stars .rating-group {
        display: inline-flex;
    }
    .full-stars input {
        position: absolute;
        left: -9999px;
    }
    .full-stars label {
        margin: 0;
        cursor: pointer;
    }
    .full-stars label svg {
        margin: 0 5px;
        height: 25px;
        width: 25px;
        fill: var(--black-color);
        transition: fill 0.3s;
    }
    .full-stars input[checked] ~ label svg {
        opacity: 0.3;
    }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 70px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
@media(max-width: 1024px) {
    .header {
        top: 30px;
        align-items: flex-start;
    }
}
@media(max-width: 424px) {
    .header {
        top: 30px;
        align-items: center;
    }
}
    .header__nav {
        position: relative;
        z-index: 11;
    }
    @media(max-width: 1024px) {
        .header__nav {
            display: none;
        }
        .header__nav.header__nav-doc {
            display: block;
        }
    }
        .header__nav-list {
            display: flex;
            gap: 40px;
        }
            .header__nav-item {

            }
                .header__nav-item a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--black-color);
                }

    .header__logo {
        max-width: 224px;
        position: relative;
        z-index: 12;
    }

    @media(max-width: 424px) {
        .header__logo {
            max-width: 180px;
        }
    }

    .header__nav-mobile {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 11;
    }

    .header__nav-mob-list {
        /* opacity: 0;
        overflow: hidden; */
        display: none;
        flex-direction: column;
        width: 100%;
        background: var(--white-color);
        position: absolute;
        left: 0;
        top: -30px;
        height: 100vh;
        padding: 15px;
        padding-top: 100px;
        text-align: center;
    }

    .header__nav-mob-list.active {
        /* opacity: 1;
        overflow: visible; */
        display: flex;
    }
        /* .header__nav-mob-list.active::after {
            content: " ";
            width: 100vw;
            height: 100vh;
            position: absolute;
            background: var(--white-color);
            top: -30px;
            z-index: -10;
        } */

    @media(max-width: 1024px) {
        .header__nav-mobile {
            display: inline-block;
        }
          
    }

    .header__nav-mobile .header__nav-mobile-link {
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        width: 100%;
        display: inline-block;
    }

    .menu {
        background-color: transparent;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        display: none;
        padding: 0;
        position: relative;
        z-index: 12;
        top: -10px;
        margin-left: auto;
      }
      @media(max-width: 424px) {
        .menu {
            top: 0;
        }
      }
      .menu svg {
        pointer-events: none;
      }
        .line {
        fill: none;
        stroke: black;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
        stroke: var(--cream-color);
        }
        .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
        stroke: var(--cream-color);
        }
        .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
        stroke: var(--cream-color);
        }
        .active .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
        }
        .active .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
        }
        .active .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
        }

    @media(max-width: 1024px) {
        .menu {
            display: flex;
        }
    }

.main {

}

    .hero {
        background: url('../images/hero-bg.webp') no-repeat;
        background-size: cover;
        background-position: 100% center;
        max-height: 1024px;
        width: 100%;
    }
       .hero__slider {
            position: relative;
            max-width: 1440px;
            height: 600px;
            background: url('../images/hero-slider/hero-ellipse.svg') no-repeat;
            background-position-x: 50%;
            background-position-y: -15%;
            background-size: auto;
       }

       @media(max-width: 1400px) {
        .hero__slider {
            background-position-y: calc(100vw - 82vw);
        }
       }
       @media(max-width: 1160px) {
        .hero__slider {
            background-position-y: calc(100vw - 75vw);
        }
       }
       @media(max-width: 1023px) {
        .hero__slider {
            display: none;
        }
       }

        .hero__slider-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .hero__slider .swiper-button-prev {
            position: absolute;
            top: 40%;
            width: 40px;
            height: 60px;
            left: 30%;
            background: url('../icons/left-arrow.svg') no-repeat;
        }
        @media(max-width: 1400px) {
            .hero__slider .swiper-button-prev {
                left: calc(100vw - (100vw - 28%));
            }
        }
        @media(max-width: 1240px) {
            .hero__slider .swiper-button-prev {
                top: calc(100vw - 83vw);
            }
        }
        /* @media(max-width: 1240px) {
            .hero__slider .swiper-button-prev {
                left: 28%;
            }
        }
        @media(max-width: 1060px) {
            .hero__slider .swiper-button-prev {
                left: 30%;
            }
        } */
            .hero__slider .swiper-button-prev:after {
                display: none;
            }

        .hero__slider .swiper-button-next {
            position: absolute;
            top: 40%;
            background: url('../icons/right-arrow.svg') no-repeat;
            width: 40px;
            height: 60px;
            right: 30%;
        }
        @media(max-width: 1400px) {
            .hero__slider .swiper-button-next {
                right: calc(100vw - (100vw - 28%));
            }
        }
        @media(max-width: 1240px) {
            .hero__slider .swiper-button-next {
                top: calc(100vw - 83vw);
            }
        }
        /* @media(max-width: 1240px) {
            .hero__slider .swiper-button-next {
                right: 28%;
            }
        }

        @media(max-width: 1060px) {
            .hero__slider .swiper-button-next {
                right: 30%;
            }
        } */
            .hero__slider .swiper-button-next:after {
                display: none;
            }

        .hero__slider .swiper-slide {
            max-width: 600px;
            width: 100%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media(max-width: 1400px) {
            .hero__slider .swiper-slide {
                height: calc(100vw - 68.8vw);
            }
        }

        @media(max-width: 1160px) {
            .hero__slider .swiper-slide {
                height: calc(100vw - 60vw);
            }
        }

        .hero__slider .swiper-slide img {
            display: block;
            margin: 0 auto;
        }

        .swiper-slide p {
            color: black;
            text-align: center;
        }

        .hero__text-slider {
            position: relative;
            top: -100px;
        }
        @media(max-width: 1400px) {
            .hero__text-slider {
                top: -120px;
            }
        }
        @media(max-width: 1300px) {
            .hero__text-slider {
                top: -150px;
            }
        }

        @media(max-width: 1200px) {
            .hero__text-slider {
                top: -170px;
            }
        }

        @media(max-width: 1023px) {
            .hero__text-slider {
                display: none;
            }
        }

        .hero__text-slider .swiper-slide-next {
            opacity: 0;
        }

        .hero__text-slider .swiper-slide-prev {
            opacity: 0;
        }

        .hero__slider-mob {
            display: none;
        }
            .hero__slider-mob .splide__arrows.splide__arrows--ltr {
                position: absolute;
                top: 40%;
                width: 100%;
            }

            .hero-slider-mob--next {
                right: 15%;
                background: url('../icons/right-arrow.svg') no-repeat;
                background-position: center;
                width: 45px;
                height: 70px;
            }

            @media(max-width: 767px) {
                .hero-slider-mob--next {
                    right: 35px;
                }
            }
            @media(max-width: 434px) {
                .hero-slider-mob--next {
                    background-color: var(--white-color);
                    height: 45px;
                    border-radius: 50%;
                    background-size: 50%;
                    right: 25px;
                }
            }
                .hero-slider-mob--next  svg{
                    display: none;
                }

            .hero-slider-mob--prev {
                left: 15%;
                background: url('../icons/left-arrow.svg') no-repeat;
                background-position: center;
                width: 45px;
                height: 70px;
            }
            @media(max-width: 767px) {
                .hero-slider-mob--prev {
                    left: 0;
                }
            }
            @media(max-width: 434px) {
                .hero-slider-mob--prev {
                    background-color: var(--white-color);
                    height: 45px;
                    border-radius: 50%;
                    background-size: 50%;
                    left: -10px;
                }
            }
                .hero-slider-mob--prev svg {
                    display: none;
                    
                }

                .hero__slider-mob-wrapper {
                    display: flex;
                    justify-content: center;
                }

                .hero__slider-mob .splide__slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .hero__slider-mob .splide__slide p {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    text-align: center;
                }

                @media(max-width: 1024px) {
                    .hero__slider-mob-wrapper {
                        height: 100%;
                        align-items: center;
                    }
                }

        @media(max-width: 1023px) {
            .hero__slider-mob {
                display: block;
            }
        }


    .about {

    }
        .about h2 {
            margin-bottom: 66px;
        }

        @media(max-width: 434px) {
            .about h2 {
                margin-bottom: 36px;
            }
        }

        .about__text-block {
            margin-bottom: 45px;
        }
            .about__text-block p {
                margin-bottom: 40px;
            }
            @media(max-width: 1024px) {
                .about__text-block p {
                    margin-bottom: 30px;
                }
            }
            @media(max-width: 767px) {
                .about__text-block p {
                    text-align: center;
                }
            }

            @media(max-width: 424px) {
                .about__text-block p {
                    font-size: 16px;
                }
            }

            .about__text-block p:last-child {
                margin-bottom: 0;
            }
        
        .about__advantages-list {
            display: flex;
            justify-content: center;
            gap: 40px;
            margin-bottom: 115px;
        }
        @media(max-width: 1200px) {
            .about__advantages-list {
                margin-bottom: 80px;
            }
        }
        @media(max-width: 992px) {
            .about__advantages-list {
                margin-bottom: 60px;
                flex-direction: column;
                align-items: center;
            }
        }
            .about__advantages-item {
                text-align: center;
                padding: 20px 10px;
                border: 1px solid var(--black-color);
                border-radius: 10px;
                max-width: 385px;
                width: 100%;
                font-size: 20px;
                line-height: 24px;
            }

            @media(max-width: 1024px) {
                .about__advantages-item {
                    font-size: 18px;
                    line-height: 22px;
                }
            }

        .about__partnership-block {
            display: flex;
        }
            .about__partnership-text-block {
                margin-right: 156px;
            }
                .about__partnership-text-block p {
                    margin-bottom: 10px;
                }

                .about__partnership-text-block a {
                    color: var(--black-color);
                    font-size: 20px;
                    line-height: 24px;
                    position: relative;
                    display: inline-block;
                }
                    .about__partnership-text-block a:before {
                        content: " ";
                        width: 100%;
                        border-bottom: 1px solid var(--black-color);
                        bottom: -6px;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        z-index: 2;
                    }

                    .about__partnership-text-block a:after {
                        content: " ";
                        width: 0%;
                        height: 1px;
                        background: var(--gradient);
                        left: 0;
                        bottom: -6px;
                        display: inline-block;
                        position: absolute;
                        z-index: 3;
                        transition: all .5s ease;
                    }

                    .link-icon {
                        display: inline-block;
                        position: absolute;
                        right: -30px;
                        top: 60%;
                        opacity: 0;
                        width: 20px;
                        height: 20px;
                        background: url('../icons/link-icon.svg');
                        transition: all .5s ease;
                    }

                    .about__partnership-text-block a:hover:after,
                    .about__partnership-text-block a:active:after {
                        width: 100%;
                    }

                    .about__partnership-text-block a:hover .link-icon,
                    .about__partnership-text-block a:active .link-icon {
                        opacity: 1;
                        top: 15%;
                    }

            .about__partnership-logo {
                max-width: 455px;
            }

            @media(max-width: 992px) {
                .about__partnership-block {
                    flex-direction: column;
                    align-items: center;
                    gap: 40px;
                }
                .about__partnership-logo {
                    order: -1;
                }

                .about__partnership-text-block {
                    margin-right: 0;
                    text-align: center;
                }
            }

            @media(max-width: 767px) {
                .about__partnership-text-block p br {
                    display: none!important;
                }
            }

    .feature {
        padding: 50px;
        background: var(--cream-color);
    }
    @media(max-width: 767px) {
        .feature {
            padding: 25px;
        }
    }
        .feature-text {
            color: var(--white-color);
            font-size: 40px;
            line-height: 1.5;
            font-weight: 400;
            text-align: center;
        }

        @media(max-width: 1200px) {
            .feature-text {
                font-size: 34px;
            }
        }

        @media(max-width: 1024px) {
            .feature-text {
                font-size: 30px;
            }
        }

        @media(max-width: 992px) {
            .feature-text {
                font-size: 24px;
            }
        }

        @media(max-width: 767px) {
            .feature-text br {
                display: none;
            }
        }

        @media(max-width: 434px) {
            .feature-text {
                font-size: 20px;
            }
        }

    .threads {

    }
        .threads h2 {
            margin-bottom: 25px;
        }

        .threads__subtitle {
            font-weight: 400;
            font-size: 40px;
            line-height: 1.25;
            text-align: center;
            margin-bottom: 90px;
        }
        @media(max-width: 1200px) {
            .threads__subtitle {
                margin-bottom: 40px;
            }
        }

        @media(max-width: 1060px) {
            .threads__subtitle {
                font-size: 32px;
            }
        }

        @media(max-width: 767px) {
            .threads__subtitle {
                font-size: 26px;
            }
        }

        @media(max-width: 434px) {
            .threads__subtitle {
                font-size: 20px;
            }
        }

        .threads__subtitle b {
            font-weight: 600;
            text-transform: none;
        }

        .threads-slider {
            max-width: 1080px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
            .threads-slider .splide__slide {
                padding: 45px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

            }

            @media(max-width: 992px) {
                .threads-slider .splide__slide {
                    padding: 25px;
                    flex-direction: column;
                    align-items: center;
                }
            }

            @media(max-width: 434px) {
                .threads-slider .splide__slide {
                    padding: 0;
                }
            }

            .threads-slider__title {
                display: block;
                font-size: 26px;
                font-weight: 500;
                line-height: 1.25;
                text-align: center;
                width: 100%;
            }

            @media(max-width: 767px) {
                .threads-slider__title {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }

            @media(max-width: 434px) {
                .threads-slider__title {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }

            .threads-slider .splide__arrows.splide__arrows--ltr {
                position: absolute;
                width: 100%;
                top: 50%;
            }
            @media(max-width: 992px) {
                .threads-slider .splide__arrows.splide__arrows--ltr {
                    top: 40%;
                }
            }
            @media(max-width: 767px) {
                .threads-slider .splide__arrows.splide__arrows--ltr {
                    top: 35%;
                }
            }

            .threads-slider__subtitle {
                display: block;
                font-size: 20px;
                font-weight: 300;
                line-height: 1.25;
                text-align: center;
                margin-bottom: 35px;
                width: 100%;
            }

            @media(max-width: 434px) {
                .threads-slider__subtitle {
                    font-size: 18px;
                }
            }

            .threads-slider__images {
                display: flex;
                align-items: center;
                gap: 82px;
                width: 25%;
            }
            @media(max-width: 992px) {
                .threads-slider__images {
                    width: 80%;
                    justify-content: center;
                }
            }
                .threads-slider__img {
                    max-width: 75px;
                    max-height: 250px;
                    height: 100%;
                }

                .threads-slider__images figcaption {
                    text-align: center;
                }

            .threads-slider__advantages-list {
                width: 50%;
                padding-top: 20px;
            }
            @media(max-width: 992px) {
                .threads-slider__advantages-list {
                    width: 80%;
                }
            }
                .threads-slider__advantages-item {
                    position: relative;
                    margin-top: 20px;
                    font-size: 20px;
                    line-height: 24px;
                }
                @media(max-width: 1024px) {
                    .threads-slider__advantages-item {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                @media(max-width: 424px) {
                    .threads-slider__advantages-item {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                    .threads-slider__advantages-item:before {
                        content: " ";
                        width: 26px;
                        height: 26px;
                        position: absolute;
                        background: url('../icons/check.svg') no-repeat;
                        left: -34px;
                        top: -2px;
                    }

                .threads-slider .splide__arrow {
                    background: none;
                }


                .threads-slider .threads-slider__arrow--prev {
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    width: 35px;
                    height: 56px;
                    background: url('../icons/left-arrow.svg') no-repeat;
                }

                .threads-slider .threads-slider--next {
                    right: 0px;
                    width: 35px;
                    height: 56px;
                    background: url('../icons/right-arrow.svg') no-repeat;
                }

                @media(max-width: 992px) {
                    .threads-slider .threads-slider__arrow--prev {
                        left: 40px;
                    }
                    .threads-slider .threads-slider--next {
                        right: 40px;
                    }
                }
                @media(max-width: 767px) {
                    .threads-slider .threads-slider--next {
                        right: 10px;
                    }
                    .threads-slider .threads-slider__arrow--prev {
                        left: 10px;
                    }
                }

                .threads-slider .splide__arrow svg {
                    display: none;
                }

        .threads__btn {
            text-align: center;
        }
    
    .reviews {
        
    }
    @media(min-width: 1441px) {
        .reviews.container {
            max-width: 100%;
            margin: auto;
        }
    }
    @media(max-width: 424px) {
        .reviews {
            max-width: 320px;
            margin: auto;
        }
    }
        .reviews h2 {
            margin-bottom: 125px;
        }
        @media(max-width: 1200px) {
            .reviews h2 {
                margin-bottom: 70px;
            }
        }

        .reviews__slider {
            margin: 0 auto;
        }
            .reviews__wrapper {
                padding: 40px;
                border: 1px solid var(--black-color);
                border-radius: 10px;
                transition: all 0.5s;
                max-height: 100%;
                height: 100%;
                max-width: 750px;
            }
            @media(max-width: 1240px) {
                .reviews__wrapper {
                    padding: 30px;
                }
            }
            @media(max-width: 767px) {
                .reviews__wrapper {
                    padding: 15px;
                    height: 100%;
                    max-width: 380px;
                    margin: 0 auto;
                }
            }

            @media(max-width: 434px) {
                .reviews__wrapper {
                    padding: 15px;
                    height: 100%;
                    max-width: 260px;
                    margin: 0 auto;
                }
            }

            .splide__slide.is-prev .reviews__wrapper {
                transform: scale(0.8);
                transition: all 0.5s;
            }

            .splide__slide.is-next .reviews__wrapper{
                transform: scale(0.8);
                transition: all 0.5s;
            }
            @media(max-width: 767px) {
                .splide__slide.is-prev .reviews__wrapper{
                    transform: none;
                    transition: none;
                }
                .splide__slide.is-next .reviews__wrapper {
                    transition: none;
                    transform: none;
                }
            }

            .reviews__slider .splide__pagination__page {
                width: 22px;
                height: 22px;
                opacity: 1;
                background: transparent;
                margin: 3px 15px;
                border: 1px solid var(--black-color);
            }
            @media(max-width: 434px) {
                .reviews__slider .splide__pagination__page {
                    margin: 3px 10px;
                }
            }

            .reviews__slider .splide__pagination__page.is-active {
                background: var(--black-color);
                transform: scale(1);
            }

            .reviews__slider .splide__pagination {
                bottom: -100px;
            }
            @media(max-width: 992px) {
                .reviews__slider .splide__pagination {
                    bottom: -60px;
                }
            }
            @media(max-width: 434px) {
                .reviews__slider .splide__pagination {
                    bottom: -45px;
                }
            }

            .splide__slide .reviews__title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            @media(max-width: 767px) {
                .splide__slide .reviews__title {
                    flex-direction: column;
                }
            }

            .splide__slide .reviews__text-block {
                font-size: 20px;
                display: flex;
                flex-direction: column;
            }
            @media(max-width: 767px) {
                .splide__slide .reviews__text-block {
                    margin-bottom: 10px;
                }
            }

                .reviews__name {
                    font-weight: 500;
                    font-size: 24px;
                    max-width: 450px;
                }
                @media(max-width: 434px) {
                    .reviews__name {
                        font-size: 18px;
                    }
                }

                .reviews__profession {
                    opacity: 0.3;
                    max-width: 450px;
                }

                @media(max-width: 434px) {
                    .reviews__profession {
                        font-size: 18px;
                    }
                }

                @media(max-width: 434px) {
                    .reviews__wrapper p {
                        font-size: 16px;
                    }
                }

    .order {

    }
        .order h2 {
            margin-bottom: 20px;
        }
        @media(max-width: 434px) {
            .order h2 {
                margin-top: 40px;
            }
        }

        .order p {
            text-align: center;
            margin-bottom: 38px;
        }

            .order__form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
            }
            @media(max-width: 992px) {
                .order__form {
                    width: 80%;
                    margin: 0 auto;
                }
            }

            @media(max-width: 434px) {
                .order__form {
                    width: 100%;
                    margin: 0 auto;
                }
            }

                .order__form input {
                    max-width: 750px;
                    width: 100%;
                    border: 1px solid var(--black-color);
                    border-radius: 50px;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    padding: 20px 50px;
                }

                @media(max-width: 1060px) {
                    .order__form input {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                @media(max-width: 992px) {
                    .order__form input {
                        padding: 10px 25px;
                    }
                }

                .order__form input::placeholder {
                    color: #A7A7A7;
                }

                .order__form .btn {
                    margin-top: 35px;
                }
                @media(max-width: 767px) {
                    .order__form .btn {
                        margin-top: 10px;
                    }
                }

.footer {
    padding: 100px 0 200px;
    background: var(--black-color);
}
@media(max-width: 1200px) {
    .footer {
        padding: 100px 0 150px;
    }
}

@media(max-width: 992px) {
    .footer {
        padding: 100px 0 100px;
    }
}

    .footer span,
    .footer a {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: var(--white-color);
        display: inline-block;
    }
    
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
    }
    @media(max-width: 992px) {
        .footer__wrapper {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

        .footer__logo {
            max-width: 237px;
        }
        @media(max-width: 1024px) {
            .footer__logo {
                max-width: 180px;
            }
        }

        .footer__address {
            max-width: 250px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        @media(max-width: 992px) {
            .footer__address {
                max-width: 100%;
                gap: 15px;
                text-align: center;
            }
        }

        .footer__links {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        @media(max-width: 992px) {
            .footer__links {
                max-width: 100%;
                gap: 15px;
                text-align: center;
            }
        }

        .footer__right-block {

        }
        @media(max-width: 992px) {
            .footer__right-block {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
        }
            .footer__up {
                position: relative;
                margin-left: 25px;
            }
            @media(max-width: 992px) {
                .footer__up {
                    margin-left: 0;
                    order: 1;
                    text-align: center;
                }
            }
                .footer__up::after {
                    content: " ";
                    position: absolute;
                    right: -20px;
                    bottom: 4px;
                    width: 8px;
                    height: 45px;
                    background: url('../icons/arrow.svg') no-repeat;
                }
            @media(max-width: 992px) {
                .footer__up::after {
                    display: none;
                }
            }
        
        .footer__social-list {
            display: flex;
            gap: 15px;
            margin-top: 40px;
        }
        @media(max-width: 992px) {
            .footer__social-list {
                margin-top: 0;
                gap: 40px;
            }
        }

        .footer__social-link {
            width: 27px;
            height: 27px;
            display: inline-block;
        }

            .footer__social-link svg {
                fill: var(--black-color);
            }
            @media(max-width: 992px) {
                .footer__social-link svg {
                    width: 40px;
                }
            }
            /* .footer__social-link--instagram:hover svg path,
            .footer__social-link--instagram:active svg path {
                fill: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
                transition: all 0.5s;
            } */

            .footer__social-link--instagram {
                background: white;
                border-radius: 50%;
            }
            @media(max-width: 992px) {
                .footer__social-link--instagram {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                }
            }

            .footer__social-link--instagram:hover,
            .footer__social-link--instagram:active {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                border-radius: 50%;
            }

            .footer__social-link--vk svg {
                fill: var(--white-color);
            }
            @media(max-width: 992px) {
                .footer__social-link--vk svg {
                    width: 40px;
                }
            }

            .footer__social-link--vk:hover svg,
            .footer__social-link--vk:active svg {
                fill: #0077FF;
            }

            .footer__social-link--whatsapp svg {
                fill: var(--white-color);
            }
            @media(max-width: 992px) {
                .footer__social-link--whatsapp svg {
                    width: 40px;
                }
            }

            .footer__social-link--whatsapp:hover svg,
            .footer__social-link--whatsapp:active svg {
                fill: #38E458;
            }

/* Personal data page and terms of use */

.personal-data,
.terms-of-use {
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
}
@media(max-width: 1024px) {
    .personal-data,
    .terms-of-use {
        font-size: 24px;
        line-height: 28px;
    }
}

    .personal-data h1,
    .terms-of-use h1 {
        padding-top: 100px;
        margin-bottom: 60px;
    }
    @media(max-width: 991px) {
        .personal-data h1,
        .terms-of-use h1 {
            padding-top: 60px;
            margin-bottom: 60px;
        }
    }
    @media(max-width: 767px) {
        .personal-data h1,
        .terms-of-use h1 {
            font-size: 20px;
        }

        .personal-data h1 br,
        .terms-of-use h1 br {
            display: none;
        }
    }


    .personal-data p,
    .terms-of-use p {
        margin-bottom: 25px;
        font-size: 26px;
        line-height: 32px;
        font-weight: 300;
    }

    @media(max-width: 1024px) {
        .personal-data p,
        .terms-of-use p {
            font-size: 24px;
            line-height: 28px;
            font-weight: 300;
        }
    }

    @media(max-width: 991px) {
        .personal-data p,
        .terms-of-use p {
            font-size: 20px;
            line-height: 24px;
            font-weight: 300;
        }
    }

    @media(max-width: 767px) {
        .personal-data p,
        .terms-of-use p {
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
        }
    }

    .personal-data__list,
    .terms-of-use__list {
        padding-left: 35px;
        margin-bottom: 25px;
    }

        .personal-data__item,
        .terms-of-use__item {
            position: relative;
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 5px;
        }
        @media(max-width: 1024px) {
            .personal-data__item,
            .terms-of-use__item {
                font-size: 22px;
                line-height: 28px;
            }
        }

        @media(max-width: 991px) {
            .personal-data__item,
            .terms-of-use__item {
                font-size: 18px;
                line-height: 24px;
            }
        }

        @media(max-width: 767px) {
            .personal-data__item,
            .terms-of-use__item {
                font-size: 14px;
                line-height: 18px;
            }
        }
            .personal-data__item:before,
            .terms-of-use__item:before {
                content: "\002E";
                top: -15px;
                left: -20px;
                position: absolute;
                font-size: 50px;
                color: var(--black-color);
                display: inline-block;
            }

            .mob_img {
                display: none;
            }
            @media(max-width: 992px) {
                .mob_img {
                    display: inline-block;
                }
                .desc_img {
                    display: none;
                }
            }

